.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    width: auto;
    height: auto;

    padding: 40px;
    background-repeat: no-repeat;

    color: aliceblue;
    border-radius: 50px;
    justify-content: center;

}

.header>div {
    width: 50%;
}

.primary-button {
    background-color: red;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}


.h1 {
    font-size: 100px;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button-1 {
    background-color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;

}

.button-2 {
    background-color: white;
    padding: 13px 58px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;

}

.button-3 {
    background-color: red;
    padding: 13px 75px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    color: azure;


}

#ID {
    background-color: black;
    padding: 20px;
    width: 12em;

    border-radius: 12px;

}

.container {
    display: flex;
    justify-content: center;

}

.card {
    background-color: white;
    width: 270px;
    height: 300px;
    margin: 10px;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(236, 227, 209);

}

.card-image {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;


}

.card-1 {
    background-image: url(assets/Blog\ Image.png);
}



.container-2 {
    display: flex;
    justify-content: center;

}

.container-3 {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.goal {
    background-color: black;
    color: aliceblue;
    text-align: center;
}